# Martin Vu
Martin Vu <martinvu@stud.ntnu.no> Martin Vu <mnv_93@hotmail.com>
# Martin Isaksen
Martin Bråten Isaksen <martinis@stud.ntnu.no> Martin Isaksen <martin.isaksen@live.no>
# Sigve Hov
Sigve Johan Hov <sigvejh@stud.ntnu.no>
# Lasse Buljo
Lasse Buljo <lassbu@stud.ntnu.no>
